html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
font-family: 'Hind Madurai', sans-serif;
color: #061726;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
box-sizing: border-box
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
html {
box-sizing:border-box
}
* {
box-sizing:inherit
}

/* END CSS RESET */

/* NAVIGATION STYLING */

.navigation-panel {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    left: 0;
    width: 300px;
    height: 100vh;
    background: #88a2b9;
    z-index: 3;
    transform: translateX(-300px);
    transition: 1s ease all;
}

.navigation-panel ul {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.navigation-panel li {
    color: rgb(242, 243, 243);
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 22px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.navigation-panel li:hover {
    border: 4px solid rgba(242, 243, 243, 0.377);
    background: rgba(242, 243, 243, 0.103);
    transition: 0.3s ease;
}

.panel-cover {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    background: #d0dae4b0;
    transition: 1s ease all;
}

#menu-button {
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 20px;
    cursor: pointer;
    transform: scale(1);
    transition: 0.2s;
}

#menu-button:hover {
    transform: scale(1.08);
    transition: 0.2s;
}

#menu-button img {
    width: 45px;
    height: 30px;
}


/* HOME PAGE STYLING */

.over-image {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.over-image h1 {
    color: rgb(242, 243, 243);
    font-size: calc(3vw + 1vh);
    text-align: center;
    font-weight: 700;
    padding: 17px 22px;
    background: #bacd7473;
}

.caption {
    height: 350px;
    box-shadow: #00000042 2px 2px 10px;
    font-family: 'Josefin Slab', serif;
    color: #061726;
    font-weight: 600;
    padding: 15px 100px;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-link {
    cursor: pointer;
    color: white;
    text-decoration: underline;
    margin-left: 0.5em;
}

.background-image {
    position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image-1 {
    background-image: url(./Assets/cactus-2.jpg);
    background-position: center 60%; 
    min-height: 100vh;
}

.image-2 {
    background-image: url(./Assets/cactus.jpg);
    background-position: center bottom; 
    min-height: 500px;
}

.image-3 {
    background-image: url(./Assets/mountains.jpg);
    background-position: center -50%; 
    min-height: 500px;
}

/* CONTACT PAGE STYLING */

.office-hours {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    padding: 2%;
    width: 80%;
    border: solid #363b3f 3px;
}

.hours-table {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hours-table > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* GALLERY STYLING */

.image-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* padding: 2%; */
}

.image-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.image-nav li {
    width: 100%;
    padding: 2%;
    height: 100%;
    background: #88a2b99c;
    color: #061726;
    transition: 0.3s ease;
    cursor: pointer;
}

.image-nav li:hover {
    background: #b5c3cf9c;
    transition: 0.3s ease;
}

.image-nav .selected {
    background: #35424d;
    color: #bed1e2;
    transition: 0.3s ease;
}

.image-nav .selected:hover {
    background: #35424d;
}

.info-container {
    margin-top: 6%;
    border: solid #363b3f 3px;
    width: 80%;
    padding: 2%;
    line-height: 1.3em;
}

.info-container h2 {
    text-decoration: underline;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 1%;
}

#specifics {
    margin-bottom: 4%;
}

.contact-link {
    width: 50%;
    margin-top: 3%;
    margin: 3% auto 2% auto;
    padding: 1.5% 4%;
    background: #88a2b99c;
    font-size: 30px;
    font-weight: 600;
    transform: scale(1);
    transition: 0.2s;
    cursor: pointer;
}

.contact-link:hover {
    transform: scale(1.1);
    transition: 0.2s;
}


/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    margin-top: 6%;
}

/* Hide the images by default */
.mySlides {
    display: none;
    width: 30vw;
}

.mySlides img {
    box-shadow: #00000042 2px 2px 10px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background: #d2d4d5;
    margin-top: -22px;
    padding: 30px 16px;
    color: #363b3f;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: -42px;
    box-shadow: #0617261a 0px 3px 10px;
}

.next {
    right: -42px;
    box-shadow: #0617261a 0px 3px 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background: #363b3f;
    color: #d2d4d5;
}

/* Caption text */
.text {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    color: #061726;
    font-size: 28px;
    padding: 8px 12px;
    position: absolute;
    bottom: -45px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    background: rgba(0, 0, 0, 0.472);
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* GENERAL STYLING */

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #d2d4d5;
}

.menu-bar {
    box-shadow: #0617261a 0px 3px 10px;
    z-index: 1;
    height: 70px;
    width: 100%;
    background: #c9dac7;
    position: fixed;
    top: 0;
    left: 0;
}
.page-top {
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-top h1 {
    box-shadow: #00000082 2px 2px 10px;
    font-size: calc(2vw + 0.8vh);
    padding: 20px 25px;
    font-weight: 700;
    background: #061726c5;
    margin: 2%;
    color: rgb(242, 243, 243);
}

.prompt {
    margin: 0 auto;
    width: 30%;
    padding: 1.5% 4%;
    background: #88a2b99c;
    font-size: 30px;
    font-weight: 600;
    transform: scale(1);
    transition: 0.2s;
}

.prompt:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.medium {
    font-size: 23px;
}

iframe {
    box-shadow: #00000042 2px 2px 10px;
}

.page-bottom {
    position: relative;
    margin: 2%;
    width: 90%;
    min-height: 60vh;
    padding: 3% 4%;
    background: rgb(242, 243, 243);
    box-shadow: #00000042 2px 2px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #061726;
    font-size: 21px;
    text-align: center;
}

.outer-container, #route-container {
    min-height: 100vh;
}

.accent {
    font-family: 'Josefin Slab', serif;
}

.small {
    font-size: 17px;
}

.large {
    font-size: 30px;
    font-weight: 600;
}

.normalized {
    text-decoration: none;
}

.outer-container {
    background: #d2d4d5;
}

#credits {
    padding: 5px;
    display: flex;
    background: #88a2b938;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#credits a {
    margin: 0 0.5em;
}

.route-container {
    opacity: 0;
    visibility: hidden;
}

.lightblue-transparent {
    background: #2a617873;
}

.lightgreen-transparent {
    background: #86ce7f38;
}

.lightgreen {
    background: #c9dac7;
}

.blue {
    background: #c9dac7;
    height: 200px;
}

.title {
    font-family: 'Arimo', sans-serif;
}


/* RESPONSIVE FIXES */

@media (max-width: 800px) {
    .landing-page figure img {
        width: auto;
        height: 100%;
    }
}

/* CSS ANIMATIONS (KEEP AT BOTTOM OF CASCADE) */

.slide {
    transform: translateX(0px);
    transition: 1s ease all;
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: 1s ease all;
}